h1 {
  position: absolute; top: 40%; left: 40%;
  animation-name: a;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes a {
50% {
  opacity: 0;
}
100% {
  opacity: 0;
}

}


.sans {
background-color: hsl(215, 66%, 58%);
height: 200px;
width: 200px;
text-align: center;
border-style: solid;
border-radius: 50%;
border-color: black;
border-width: 10px;
box-shadow: 0px 20px 20px 30px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.7);
animation-name: ola;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease;
position: absolute; left: 20%; top: 20%;
}

.san {
background-color: hsl(215, 66%, 58%);
height: 200px;
width: 200px;
text-align: center;
border-style: solid;
border-radius: 50%;
border-color: black;
border-width: 10px;
box-shadow: 0px 20px 20px 30px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.7);
animation-name: olo;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease;
position: absolute; left: 40%; top: 20%;
}

.sa {
background-color: hsl(215, 66%, 58%);
height: 200px;
width: 200px;
text-align: center;
border-style: solid;
border-radius: 50%;
border-color: black;
border-width: 10px;
box-shadow: 0px 20px 20px 30px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.7);
animation-name: alo;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease;
position: absolute; left: 60%; top: 20%;
}

.s {
background-color: hsl(215, 66%, 58%);
height: 200px;
width: 200px;
text-align: center;
border-style: solid;
border-radius: 50%;
border-color: black;
border-width: 10px;
box-shadow: 0px 20px 20px 30px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.7);
animation-name: lala;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
position: absolute; left: 40%; top: 0%;
}






@keyframes ola {
 0% {
   background-color: blue;
   left: 0px;
 }
50% {
  background-color: green;
  left: 100px;
  opacity: 0;
  transform: scale(1.3);
}
75% {
  opacity: 0;
}
}

@keyframes olo {
0% {
  background-color: blue;
  left: 0px;
}
50% {
  background-color: green;
  right: 100px;
  opacity: 0;
  transform: scale(1.3);
}
100% {
  top: 50%;
}
75% {
  opacity: 0;
}
}


@keyframes alo {
 0% {
  background-color: blue;
  left: 0px;
}
50% {
  background-color: green;
  top: 200px;
  opacity: 0;
  transform: scale(1.3);
}
75% {
  opacity: 0;
}
}

@keyframes lala {
 0% {
  background-color: blue;
  top: 0px;
}
50% {
  background-color: green;
  top: 200px;
  opacity: 0;
  transform: scale(1.3);
}
75% {
  opacity: 0;
}
}



#a {
position: absolute; top: 40%; left: 40%;
animation-name: alal;
animation-duration: 10s;
animation-iteration-count: infinite;
}

@keyframes alal {
0% {
  opacity: 0;
}
50% {
  opacity: 0;
}

75% {
  opacity: 1;
}
77% {
  opacity: 0;
}

100% {
  opacity: 0;
}
}
